body {
  color: black;
}

.jumbotron {
  background-image: url("../images/banner.png");
  background-blend-mode: normal;
  background-size: 100% 100%;
  color: white;
  text-align: center;
  font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace
}
.about {
  font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: gray;
  font-size: large;
}